extends defaultLayout

block style
  <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.css" />

block content
  <div id="mapid"></div>

block scripts
  <script src="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.js"></script>
  include ./_modules/scripts
  